@tailwind base;
@tailwind components;
@tailwind utilities;

.row-cta {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: -15px;
  margin-left: -15px;
}

.col-auto {
  position: relative;
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
}

@media screen and (max-width: 1510px) {
  h4 {
    font-size: 28px;
    line-height: 36px;
  }
}

.like-title {
  font-family: "PP Editorial New", "Times New Roman", serif;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: -0.05em;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 1510px) {
  .like-title {
    font-size: 48px;
  }
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

.ready-to .noice-1 {
  top: 20px;
  left: -60px;
}

.ready-to .noice-2 {
  top: 20px;
  left: -45px;
}

.ready-to .noice-3 {
  bottom: 0;
  left: -60px;
}

.ready-to .noice-4 {
  bottom: -40px;
  left: -40px;
}

.ready-to .noice-5 {
  bottom: -40px;
  right: 20px;
}

.ready-to .noice-6 {
  bottom: 0;
  right: -60px;
}

.ready-to .noice-7 {
  top: 15px;
  right: -40px;
}

.button-base {
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 40px;
  font-family: "FT Polar", "Arial", sans-serif;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #fff;
  background: #4f46e5;
  border-radius: 10px;
}

.button-base:active,
.button-base:hover {
  background-color: #5f58e2;
}

.logo {
  margin-right: 12px;
  margin-left: 12px;
  font-family: Moranga, sans-serif;
  font-size: 24px;
  font-weight: 500;
}
