@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FT Polar";
  src: url("https://uploads-ssl.webflow.com/60ec14d48c97af8448ff08ee/60ec14d48c97af84d6ff094c_FTPolar-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FT Polar";
  src: url("https://uploads-ssl.webflow.com/60ec14d48c97af8448ff08ee/60ec14d48c97af59d6ff0931_FTPolar-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FT Polar";
  src: url("https://uploads-ssl.webflow.com/60ec14d48c97af8448ff08ee/60ec14d48c97aff495ff092b_FTPolar-Book.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Moranga;
  src: url("https://uploads-ssl.webflow.com/60ec14d48c97af8448ff08ee/60f55bb3a6a166e0d5a0e86b_Moranga-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Moranga;
  src: url("https://uploads-ssl.webflow.com/60ec14d48c97af8448ff08ee/62260ee18602f15354ef82f1_Moranga-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url(https://storytale.iohttps://storytale.io/fonts/PPEditorialNew-Regular.woff2)
      format("woff2"),
    url(/fonts/PPEditorialNew-Regular.woff) format("woff"),
    url(https://storytale.io/fonts/PPEditorialNew-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(https://storytale.io/static/media/EuclidCircularA-Regular-WebXL.354f4a57.woff2)
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(https://storytale.io/static/media/EuclidCircularA-Medium-WebXL.ac2b8563.woff2)
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(https://storytale.io/static/media/EuclidCircularA-Semibold-WebXL.3b93c2b6.woff2)
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  box-sizing: border-box;
}

.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: -15px;
  margin-left: -15px;
}

.col-auto {
  position: relative;
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
}

@media screen and (max-width: 1510px) {
  h4 {
    font-size: 28px;
    line-height: 36px;
  }
}

.like-title {
  font-family: "PP Editorial New", "Times New Roman", serif;
  font-size: 60px;
  line-height: 115%;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  color: #000;
}

@media screen and (max-width: 1510px) {
  .like-title {
    font-size: 90px;
    color: #000;
  }
}

.ready-to .like-title {
  letter-spacing: -4px;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

.position-absolute {
  position: absolute !important;
}

svg:not(:root) {
  overflow: hidden;
}

.ready-to .noice-1 {
  top: 20px;
  left: -60px;
}

.ready-to .noice-2 {
  top: 20px;
  left: -45px;
}

.ready-to .noice-3 {
  bottom: 0;
  left: -60px;
}

.ready-to .noice-4 {
  bottom: -40px;
  left: -40px;
}

.ready-to .noice-5 {
  bottom: -40px;
  right: 20px;
}

.ready-to .noice-6 {
  bottom: 0;
  right: -60px;
}

.ready-to .noice-7 {
  top: 15px;
  right: -40px;
}

.button-base {
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-shadow: none;
  box-shadow: none;
}

.button-base.large {
  font-family: "Euclid Circular A", "Arial", sans-serif;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 60px;
  padding: 0 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #fff !important;
  background: #2c3fee;
  border-radius: 10px;
}

.ready-to .button-base {
  margin-top: 40px;
}

.button-base.large:active,
.button-base.large:hover {
  background-color: rgba(44, 63, 238, 0.8);
}
